<div>
  <mat-tab-group>
    <mat-tab label="LISTES DES PHARMACIES">
      <h1>Listes des Pharmaciens</h1>
      <app-liste-pharmacien></app-liste-pharmacien>
    </mat-tab>
    <mat-tab label="AJOUTER UNE PHARMACIE"> <h1>Ajouter une pharmacie</h1>
    <app-add-pharmacien></app-add-pharmacien>
  </mat-tab>
    <mat-tab label="METTRE A JOUR UN PHARMACIEN">
      <h1>MISE A JOUR</h1>
      <app-edit-pharmacien></app-edit-pharmacien>
    </mat-tab>
    <mat-tab label="RECHERCHER UN PHARMACIEN"> <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event">
    </mat-paginator>

    <div *ngIf="pageEvent">
      <h5>Page Change Event Properties</h5>
      <div>List length: {{pageEvent.length}}</div>
      <div>Page size: {{pageEvent.pageSize}}</div>
      <div>Page index: {{pageEvent.pageIndex}}</div>
    </div></mat-tab>
  </mat-tab-group>

  <!-- <router-outlet></router-outlet> -->




</div>